<div class="head">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/income">Income</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/expense">Expense</a>
        </li>
    </ul>
</div>